@import "bourbon";

$main-color: #162026;
$blue-color: #5AAEE1;
$pink-color: #E75DA0;

$roboto-regular: 'RobotoRegular',sans-serif;
$roboto-bold: 'RobotoBold',sans-serif;
$roboto-medium: 'RobotoMedium',sans-serif;
$calibri: 'CalibriBold',sans-serif;
$roboto-slab: 'RobotoSlabBold',sans-serif;

$viewport: 940px;

